/*General Body style*/
body {
    font-family: Mukta, sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    background-color: #bfbfc0;
  }